[Unit]
Description=Collect service
After=network.target

[Service]
Type=simple
Restart=on-failure
User=collect
ExecStart=/usr/bin/nodejs /opt/collect/src/
StandardOutput=append:/var/log/collect/app.log
StandardError=append:/var/log/collect/error.log
WorkingDirectory=/opt/collect

[Install]
WantedBy=multi-user.target

